Package: com.p1atdev.freeza
Name: Freeza
Version: 1.0.0
Architecture: iphoneos-arm
Depiction: https://p1atdev.github.io/repo/depictions/?p=com.p1atdev.freeza
Maintainer: p1atdev
Author: p1atdev
Section: Addons (Activator)
Depends: mobilesubstrate (>= 0.9.5000), libactivator (>= 1.8.3)
Icon: file:///PreferenceBundles/Freeza.bundle/icon@2x.png
