Package: com.p1atdev.freeza
Name: Freeza
Version: 1.0.0
Architecture: iphoneos-arm
Description: Freeze and resume your foreground application!
Maintainer: p1atdev
Author: p1atdev
Section: Addons (Activator)
Depends: mobilesubstrate (>= 0.9.5000), libactivator (>= 1.8.3)
